botbuilder-core==4.14.8
langchain==0.1.4
langchain_openai==0.0.5
openai==1.10.0
tiktoken==0.5.2
botbuilder-dialogs==4.14.8
pandas==2.2.0
pyodbc==5.0.1
azure-ai-language-questionanswering==1.1.0
azure-ai-language-conversations==1.1.0
docx2txt==0.8
pypdf==4.0.1
PyPDF2==3.0.1
faiss-cpu==1.7.4